<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h2>Change Password</h2>

    <input type="password" id="old_password" placeholder="old password"><br><br>
    <input type="password" id="new_password" placeholder="new_password"><br><br>
    <button onclick="changePassword()">Change Password</button>

    <p id="msg"></p>
    <script>
        // check access
        if (!localStorage.getItem("access")) {
            const loginUrl = "{% url 'login' %}";

            window.location.href = loginUrl;
        }

        function changePassword() {
            fetch("http://127.0.0.1:8000/api/change-password/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem("access")
                },
                body: JSON.stringify({
                    old_password: document.getElementById("old_password").value,
                    new_password: document.getElementById("new_password").value
                })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.message) {
                        document.getElementById("msg").innerText = data.message;
                        alert("Please login again");
                        localStorage.clear();
                        const loginUrl = "{% url 'login' %}"
                        window.location.href = loginUrl;
                    } else {
                        document.getElementById("msg").innerText = data.error;
                    }
                });
        }
    </script>
</body>

</html>